{{define "head"}}
{{end}}

{{define "body"}}
    <img id="play">
    
    

    <script>

        var  ws = initWS();
        var container = $("#container");
        var teste = JSON.stringify({
            start: true
        });
        var img = document.getElementById("play");
        function initWS() {
            var socket = new WebSocket("ws://localhost:8080/ws/user/newClient");
            socket.onopen = function() {
                alert("Socket is open");
                ws.send(teste);
                container.append("<p>Socket is open</p>");
            };
            socket.onmessage = function (e) {
                    img.src = e.data;
            }
            socket.onclose = function () {
                alert("Socket is closed");
                container.append("<p>Socket closed</p>");
            }
            return socket;
        }

        ws.on('stream',function(e){

        });


    </script>
{{end}}
